/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Rofi Theme for Script Menu */

@import "~/.config/rofi/config.rasi"

/* ---- Window ---- */
window {
  width: 40%;
  height: inherit;
  location: center;
  anchor: center;
  border: 2px;
  padding: 20px;
}

/* ---- Mainbox ---- */
mainbox {
  children: [ "inputbar", "listview" ];
}

entry {
  placeholder: "⚙️ Choose a script to run...";
    width: inherit;

}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 8;
  fixed-height: false;
  spacing: 6px;
  scrollbar: true;
  cycle: true;
  dynamic: true;
  padding: 10px;
}

/* ---- Elements ---- */
element {
  padding: 5px;
  border-radius: 4px;
  margin: 2px 0px;
}

element normal {
  background-color: transparent;
  text-color: @foreground;
}
element selected {
  background-color: @selected;
  text-color: @background;
}
element alternate {
  background-color: transparent;
}

/* ---- Message ---- */
message {
  padding: 10px;
  text-color: @foreground;
}


