h2 {
    background-color: blanchedalmond;
    color: black;
    width: 343px;
    border: 0cap;
}

h4 {
    background-color: black;
    color: yellow;
    width: 560px;
}

h5 {
    background-color: black;
    color: azure;
    width: 560px;
}

button {
    background-color: blue;
    color: azure;
}